body {
  background-color: lightgray;
}
#symbole::before {
  content: '<';
  color: #ff531f;
  padding-right: 5px;
}
a {
  color: rgb(30, 8, 8);
  text-decoration: none;
  margin-left: 16%;
}
div {
  padding-top: 0.2%;
  text-align: center;
  background-color: white;
  margin-left: 17%;
  margin-right: 17%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: 'Montserrat-SemiBold', Verdana, Arial, sans-serif;
}
#head {
  color: #ff531f;
}
#champ {
  text-align: left;
  color: gray;
  margin-left: 3%;
}
.marg {
  margin-bottom: 2%;
  border-radius: 17px;
  color: white;
  background-color: #ff531f;
  border: none;
  padding: 9px 9px;
}
label {
  font-size: 80%;
  display: inline-block;
  width: 140px;
  text-align: justify;
}
.show {
  margin-bottom: 4%;
  border-radius: 17px;
  color: #ff531f;
  background-color: white;
  border-color: #ff531f;
  padding: 9px 9px;
  border-width: thin;
}
.show:hover {
  background-color: #ff531f;
  color: white;
}
.marg:hover {
  background-color: #ce3506;
  color: white;
}
input {
  padding: 0 13px;
}
.dat {
  padding: 0 13px;
}
.dat {
  margin-right: 50px;
}
.etre {
  margin-right: 35px;
}
#etre {
  font-size: 100%;
  display: inline-block;
  width: 195px;
  text-align: justify;
}
#dat {
  font-size: 100%;
  display: inline-block;
  width: 170px;
  text-align: justify;
}
.required::after {
  content: '*';
  color: red;
}
h5 {
  text-align: left;
  margin-left: 3%;
  font-size: 0.8rem;
  color: rgb(65, 63, 63);
}
.horizontal {
  width: 90%;
  height: 0.01cm;
  background-color: lightgray;
  margin-left: auto;
  margin-right: auto;
}
